@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (String.IsNullOrEmpty(Model))
    {
        <p>
            You can't do anything without the registration or authorization so...
        </p>
        <a asp-action="SignIn" , asp-controller="Account">Sign in</a>
        <a asp-action="SignUp" , asp-controller="Account">Sign up</a>
    }
    else
    {
        <h2 class="display-4">@Model</h2>
    }
</div>
